tfx==1.14.0
tensorflow==2.13.1
tensorflow-model-analysis==0.45.0
tensorflow-data-validation==1.14.0
tensorflow-transform==1.14.0
pandas==1.5.3
numpy==1.24.3
jupyter==1.1.1
ipykernel==6.29.5
scikit-learn==1.7.2
